footer {
    width: 100%;
    background-color: var(--text);
    background-image:linear-gradient(to left, var(--gradient));
    min-height: max-content;
    max-height: 80px;
    padding: 10px;
    color: var(--light);
    
}


footer .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


footer .DAT {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}



.DAT .time i,
.DAT .date {
    padding: 10px;
    border: 1px solid var(--light);
    border-left:10px solid #eee ;
    border-radius: 20px ;
    margin-left: 5px;
}

.DAT .time b {
    margin-left: 10px;
    color: var(--active);
}


.container .made {
    /* width: 100%; */
    flex: 1;
    text-align: center;
}

footer #myName {
    color: aqua;
}