/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 17px;
  font-family: cursive;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Colors */
:root {
  --light: #eee;
  --dark: #333;
  --text: rgb(74, 0, 74);
  --text : #7136b6;
  --text : #6f046d;
  --gradient: #4b138b, #6f0592;
  --active: rgb(173, 1, 156);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

ul {
  list-style: none;
}
