.mainTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border-bottom: 1px solid var(--active);
}

.mainTitle::before,
.mainTitle::after {
  color: var(--active);
  position: absolute;
  content: "***";
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 30px;
  text-align: center;
}

.mainTitle::after {
  right: 0;
  left: auto;
}

.subTabs > li > a.active {
  background: none;
  box-shadow: none;
  color: var(--active);
}

.subContent {
  background-color: var(--light);
  width: 100%;
  flex: 1;
  height: 300px;
  display: flex;
  justify-self: flex-end;
  padding: 10px;
  border-radius: 10px 0 10px 0;
  color: var(--dark);
}
.subContent > * {
  padding-left: 20px;
}

.subContent li {
  margin-bottom: 10px;
}

.subContent b {
  font-weight: 900;
  font-size: 15px;
  background-color: #ddd;
}

.subContent  .head {
  margin-bottom: 10px;
  color: var(--text);
  width: 100%;
  height: max-content;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 16px;
}

.subContent .update {
  background-color: yellow;
  padding: 5px;
  border-radius: 0 10px 0 10px;
  width: max-content;
  height: max-content;
  box-shadow: 0 0 10px var(--dark);
  font-weight: bolder;
}

.subContent .note {
  border: 2px solid var(--text);
  padding: 5px;
  width: max-content;
  height: max-content;
}

.subContent .sla {
  width: max-content;
  height: max-content;
  background-image: linear-gradient(var(--gradient));
  color: var(--light);
  padding: 3px;
  border-radius: 0 10px 0 10px;
}

.subContent .sr {
  font-weight: bolder;
  box-shadow: 0 0 10px var(--dark);
  width: 100%;
  height: max-content;
  background-image: green;
  color: var(--light);
  padding: 5px;
  border-radius: 0 10px 0 10px;
}
