aside {
  background-color: var(--text);
  background-image: linear-gradient(to bottom, var(--gradient));
  color: var(--light);
  height: 100%;
  width: max-content;
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

aside .tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 400px; */
  max-height: 400px;
  min-width: 50px;
  max-width: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5px;
  scroll-behavior: smooth;
}
aside .tools::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
aside .tools::-webkit-scrollbar-thumb {
  background-color: var(--active);
}

aside .tools li {
  padding: 20px 10px;
  margin-bottom: 10px;
  text-align: center;
}

aside .tools li a {
  box-shadow: 0 0 4px #acd;
  color: var(--light);
  border-radius: 0 20px 0 20px;
  padding: 10px;
  font-size: 10px;
}
